<h1>Results for <%= @query %></h1>
<blockquote>I've added "fuzzy matching" search in hopes of returning more useful results, unfortunately, it still needs tweaking, please bear with me and the irrelevant results.<cite>nan</cite></blockquote>
<% if @items.empty? && @maps.empty? && @monsters.empty? && @skills.empty? && @skill_effects.empty? %>
  <h4>Nothing found... :(</h4>
<% end %>

<% unless @items.empty? %>
  <h2 class="subheader">Items (<%= @items.count %>)</h2>
  <ul class="small-block-grid-1 large-block-grid-2">
    <% @items.each do |item| %>
      <li>
      <%= link_to(('<div class="panel">' + image_tag(item.img.blank? ? 'http://placehold.it/18' : item.img, style: 'width: 18px; height: 18px;') + ' ' + item.name + '</div>').html_safe, item) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @monsters.empty? %>
  <h2 class="subheader">Monsters (<%= @monsters.count %>)</h2>
  <ul class="small-block-grid-1 large-block-grid-2">
    <% @monsters.each do |monster| %>
      <li>
      <div class="panel">
        <%= link_to monster.name, monster %>
      </div>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @maps.empty? %>
  <h2 class="subheader">Maps (<%= @maps.count %>)</h2>
  <ul class="small-block-grid-1 large-block-grid-2">
    <% @maps.each do |map| %>
      <li>
      <div class="panel">
        <%= link_to map.name, map %>
      </div>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @skills.empty? %>
  <h2 class="subheader">Skills (<%= @skills.count %>)</h2>
  <ul class="small-block-grid-1 large-block-grid-2">
    <% @skills.each do |skill| %>
      <li>
      <div class="panel">
        <%= link_to skill.name, skill %>
      </div>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @skill_effects.empty? %>
  <h2 class="subheader">Skill Effects (<%= @skill_effects.count %>)</h2>
  <ul class="small-block-grid-1 large-block-grid-2">
    <% @skill_effects.each do |effect| %>
      <li>
      <div class="panel">
        <%= link_to effect.name, skill_path(effect.skill_id) %>
      </div>
      </li>
    <% end %>
  </ul>
<% end %>
