<% content_for(:title) { @map.name } %>
<% content_for(:meta_keywords) { [@map.name, "Monster hunter #{@map.name}"].join(', ') } %>

<h1><%= @map.name %></h1>
<div class="row" style="position: relative; z-index: 1;">
  <div class="small-12 columns">
    <div data-magellan-expedition="fixed">
      <dl class="sub-nav">
        <% @areas.each do |area| %>
          <dd data-magellan-arrival="<%= area.zone %>"<%= area.zone == 0 ? ' class="active"'.html_safe : ''%>>
            <% if area.zone == 0 %>
              <%= link_to 'Base Camp', "##{area.zone}" %>
            <% elsif area.zone == 1 %>
              <%= link_to 'Area 1', "##{area.zone}" %>
            <% else %>
              <%= link_to area.zone, "##{area.zone}" %>
            <% end %>
          </dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <% @areas.each do |area| %>
      <a name="<%= area.zone %>">
        <h2 class="subheader" data-magellan-destination="<%= area.zone %>" style="padding-top: 40px; margin-top: -40px;"><%= area.zone == 0 ? 'Base Camp' : "Area #{area.zone}" %></h2>
      </a>
      <ul class="small-block-grid-1 large-block-grid-2">
        <% area.resources.each do |resource| %>
          <li>
            <%= link_to ('<div class="panel">' + resource.item.name + '</div>').html_safe, resource.item %>
          </li>
        <% end %>
      </ul>
      </li>
    <% end %>
  </div>
</div>
